.skip{
    background-color: #F76900;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute;
    left: -999px;
}

.skip:focus {
    left: 10px;
}

#navbar {
    overflow: hidden;
    background-color: #efefef;
    margin-left: -5%;
  }

#navbar img {
    width: 23%;
    margin-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
#navbar a {
    float: right;
    display: block;
    color: #000E54;
    text-align: center;
    padding: 2.5% 4%;
    text-decoration: none;
    font-size: 20px;
  }
  
#navbar a:hover {
    background-color: #e7e4e4;
  }
  
#navbar a.active {
    background-color: #F76900;
    color: #000E54;
  }
  
.content {
    padding: 16px;
    padding-top: 7%;
    margin-top:10px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 60px;
  }

.mainheader {
    font-size: 40px;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Playfair Display', serif;
}

.blog{
    display: flex;
}

img{
    max-width: 50%;
 }
 .blogimg{
    flex-basis: 40%;
    max-width: 50%;

}
.blogleft{
    flex-basis: 40%;
    text-align: right;
    margin: 2em;
    width: 100%;

}
.blogtext{
    flex-basis: 60%;
    margin-right: 15%;
}
.blogtitle{
    font-size: 2em;
}
.blogdescription{
    font-size: 1.2em;
}

h1, h2, a {
    color: #000E54;
}

footer img {
    width: 5%;
}
footer {
    clear: both;
}
footer div{
    display: flex;
    flex-wrap: wrap;
}
.footerimg {
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
}
.bioimg {
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.slideshow{
    clear: both;
    background-color: #efefef;
    padding: 10px;
    margin: 0 auto;
}
#slideshowimg{
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}
.slidehead{
    background-color: #efefef;
    text-align: center;
}
#thumbnails {
    display: flex;
    width: 15%;
    margin: auto;
    justify-content: center;
}
#thumbnails img {
    margin: 10px;
    margin-top: 30px;
    
}
#pasta, #acai, #gelato, #hummus, #pasta2, #pizza, #sabich, #strawberry, #stroop, #watermelon {
    margin: 0 auto;
    justify-content: center;
}
#acai, #gelato, #hummus, #pasta2, #pizza, #sabich, #strawberry, #stroop, #watermelon {
    display: none;
    margin: 0 auto;
}

.resources{
    clear: both;
}
.resourcepic{
    float: left;
    margin: 20px;
}
.center {
    text-align: center;
}


@media only screen and (max-width: 800px) {
    img {
        max-width: 100%;
    }
    .bioinfo {
        clear: both;
    }
    .blog {
        flex-wrap: wrap;
        justify-content: right;
        margin-left: -100px;
        text-align: center;
    }
    .blogimg {
        max-width: 100%;
        padding-left: 30px;
    }
    .blogleft {
    margin: auto;    
    }
    #thumbnails {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    #thumbnails img {
        margin-bottom: 10px;
    }
    #slideshowimg {
        display: none;
    }
    .slideshow, .slidehead{
        background-color: #ffffff;
    }
    .resourcepic{
        margin-left: 0px;
        margin-bottom: 5%;
    }
    footer div img {
        width: 10%;
    }
    } 

  