nav{display: flex;
    font-size: 1em;
}

.blog{
    display: flex;
}
img{
    width: 50%;
    max-width: 100%;
 }
.blogimg{
    flex-basis: 40%;
    text-align: right;
    margin: 2em;

}
.blogtext{
    flex-basis: 60%;
    margin-right: 15%;
}
.blogtitle{
    font-size: 2em;
}
.blogdescription{
    font-size: 1.2em;
}

