body {background-color: #FFEEF4;}
body {color: #AEC3AE;}
a:link {color: #618264;}
h1, h2 {color: #94A684;}
nav {background-color: #efefef;}
nav a {color: #618264;}
nav a:hover{background-color:#79AC78 ;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
h1{text-align: center;}
img{width: 100px;}
.skills{display:flex;
        justify-content: space-between;
        text-align: center;
        margin: 50px;
    }
.other{background-color: #efefef ;
        border-radius: 1em;
        padding: 20px;
    }
.flex2{display:flex;}
.col1{flex-basis: 75%;}
.col2{flex-basis: 25%;}
p {padding-left: 50px;
    padding-right: 50px;
    }